body{
    height: 100vh;
    width: 100%;
    display: grid;
    grid-template-columns: 90%;
    justify-content: center;
    place-items: center;
    margin: 0;
    padding: 0;
    background: grey;
  }

   .container {
    border: solid 1px black;
    display: inline-block;
    overflow: hidden;
    width: 100%;
    height: 350px;
    position: relative;
    margin: auto;
  } 

  #raccoon {
    height: 35px;
    width: 60px;
    background-color: fuchsia;
    position: absolute;
    top: 240px;
    left: 15%;
  }

  .car {
    height: 50px;
    width: 90px;
    background-color: blue;
    position: absolute;
    top: 300px;
    left: 0%;
    animation: car 3s linear;
  }

  /* #tree {
    height: 100px;
    width: 50px;
    background-color: blue;
    position: absolute;
    top: 250px;
    left: 0%;
    animation: tree 5s infinite linear;

  }

  #drone {
    height: 50px;
    width: 50px;
    background-color: blue;
    position: absolute;
    top: 150px;
    left: 0%;
    animation: drone 5s infinite linear;

  }
  #balloonMonkey {
    height: 50px;
    width: 50px;
    background-color: blue;
    position: absolute;
    top: 200px;
    left: 0%;
    animation: balloonMonkey 5s infinite linear;
  }

  #airplane {
    height: 50px;
    width: 150px;
    background-color: blue;
    position: absolute;
    top: 0px;
    left: 0%;
    animation: airplane 5s infinite linear;
  }
  #flyingPig {
      height: 60px;
      width: 75;
      background-color: blue;
      position: absolute;
      top: 70px;
      left: 0%;
      animation: flyingPig 3s infinite linear;
  } */

  /* .inner {
    width: 100%;
    height: 350px;
    position: relative;
    animation: scroll 5s infinite linear;
    display: inline-block;
  }  */


/*  
 .inner:after {
    content: "";
    height: 350px;
    width: 100%;
    left: 0px;
    position: absolute;
    background-image: "/Users/admin/Desktop/DW Docs/Coding/Rocket Raccoon Project/Backgrounds/rrb5.png";
    background-size: 100% 20%;
  }
   */
  .img {
    width: 100%;
  }
  
  @keyframes scroll {
    from {transform: translateX(100%);}
      to {transform: translateX(-50%);}
  
  } 
 

  @keyframes car {
    0%{left: 1000px}
    100%{left: -150px}
  }
  @keyframes tree {
    0%{left: 1000px}
    100%{left: -50px}
}
  @keyframes drone {
    0%{left: 1000px}
    100%{left: -50px}
}
@keyframes balloonMonkey {
    0%{left: 1000px}
    100%{left: -50px}
}
  @keyframes airplane {
    0%{left: 1000px}
    100%{left: -50px}
}
  @keyframes flyingPig {
    0%{left: 1000px}
    100%{left: -50px}
}

